@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Or target specific elements */
html, body {
  margin: 0;
  padding: 0;
}

@layer base {
  html, body {
    @apply m-0 p-0 h-full;
  }
}

@layer components {

  .text-brand {
    @apply font-['Red_Hat_Text'] font-medium text-[20px] leading-normal tracking-[1px] align-middle;
  }

  .text-brand p {
    @apply pb-5;
  }

  .main-box {
    @apply bg-cover bg-center max-w-[892px] w-full font-['Red_Hat_Text'] font-semibold;
    background-image: url('/images/ourStory/DSI_Solid_Core_Thatched_Cottage.png');
  }

  @media (max-width: 768px) {
    .main-box {
      height:598px;
      background-image: url('/images/mobile/DSI_Solid_Core_Thatched_Cottageb.png');
    }
  }

  .responsive-image {
    @apply float-left absolute transition-[width] duration-300 ease-in-out;
  }

}

@media (max-width: 1300px) {
  .responsive-image {
    @apply w-[100px];
  }
  .responsive-abs-image {
      width: 280px;
  }
}

